{% extends 'base.html' %}
{% block content %}

<div class="topic-page">
    <div class="topic-column">
      <h2>Topic List</h2>
      {% if topics %}
        <ul>
            {% for topic in topics %}
                <li> {{ topic.name|title }} </li>
            {% endfor %}
        </ul>
      {% endif %}
    </div>
  <div id="topic-form" class="form">
      <h1>Add Topic</h1>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit!" class="btn">
    </form>
  </div>
</div>

{% endblock %}
