{% extends 'base.html' %}
{% block content %}
{% load app_filters %}
<h1>Detail</h1>
{% if user == resource.user %}
<div class="row">
    <div class="col s6">
      <h3>Resource Topics</h3>
      {% if resource.topic.count %}
        {% for topic in resource.topic.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ topic.name|title }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'unassoc_topic' resource.id topic.id %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Topics :(</h5>
      {% endif %}
    </div>
    <!-- Available topics will come after this line -->
    <div class="col s6">
      <h3>Available topics</h3>
      {% if topics.count %}
        {% for topic in topics.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ topic.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_topic' resource.id topic.id %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{resource.name}} Already Has All topics Available</h5>
      {% endif %}
    </div>
  </div>
{% endif %}
<!-- here -->
<div class="card">
  <div class="resource-description">
      <h3>{{ resource.description }}</h3>
      <p>Posted By: {{ resource.user }} </p>
      <!-- <a href="{{ resource.url }}"><small>{{ resource.url }}</small></a> -->
  </div>
  {% if resource.og_title == '' %}
    <div class="image-container">
      <p>{{ resource.url }}</p>
    </div>
  {% else %}
    <a class="a" href="{{ resource.url }}">
        <div id="container">
        {% if resource.og_title %}
          <p>Title: {{ resource.og_title }}</p>
          <div class="image-container">
            {% if 'youtube' in resource.url %}
              <iframe class="iframe" src="{{ resource.url|video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
              <img id="image" src="{{ resource.og_image }}">
            {% endif %}
          </div>
          <p>Description: {{ resource.og_description }}</p>
        {% endif %}
    </div>
    </a>
  {% endif %}
{% if user == resource.user %}
  <div class="edit-delete">
      <a href="{% url 'resources_update' resource.id %}"><button> Edit</button></a>
      <a href="{% url 'resources_delete' resource.id %}"><button>Delete</button></a>
  </div>
{% endif %}
</div>

<!-- to here -->
<h2>Add Comment</h2>
    <form action="{% url 'add_comment' resource.id %}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
            <input type="submit" class="btn" value="Add Comment">
    </form>
    {% if comments %}
    {% for comment in comments %}
        <p>Posted By: {{ comment.user }}</p>
        <p>Date: {{ comment.date }}</p>
        <p>{{ comment.content }}</p>
        {% endfor %}
    {% else %}
        <p>Add a comment!</p>
    {% endif %}

{% endblock %}