{% extends 'base.html' %}
{% block content %}
{% load app_filters %}
<h1>Detail</h1>   
    <div class="card">
        <div class="resource-description">
            <h3>{{ resource.description }}</h3>
            <p>Posted By: {{ resource.user }} </p>
            <!-- <a href="{{ resource.url }}"><small>{{ resource.url }}</small></a> -->
        </div>
        <a class="a" href="{{ resource.url }}">
            <div id="container">
                <p>Title: {{ resource.og_title }}</p>
                <div class="image-container">
                    {% if  resource.og_type == 'video.other'%}
                    <iframe class="iframe" src="{{ resource.url|video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% else %}
                    <img id="image" src="{{ resource.og_image }}">
                    {% endif %}
                </div>
            <p>Description: {{ resource.og_description }}</p>
            
        </div>
    </a>
    {% if user == resource.user %}
        <div class="edit-delete">
            <a href="{% url 'resources_update' resource.id %}"><button> Edit</button></a>
            <a href="{% url 'resources_delete' resource.id %}"><button>Delete</button></a>
        </div>
    {% endif %}
    </div>

<h2>Add Comment</h2>
    <form action="{% url 'add_comment' resource.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
            <input type="submit" class="btn" value="Add Comment">
    </form>
    {% if comments %}
    {% for comment in comments %}
        <p>{{ comment.content }}</p>
        <p>Posted By: {{ comment.user }}</p>
        {% endfor %}
    {% else %}
        <p>Add a comment!</p>
    {% endif %}

{% endblock %}